# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Pp]ackages/
/[Aa]ssets/AssetStoreTools*
/[Pp]rojectSettings/ProjectVersion.txt
/[Pp]rojectSettings/EditorBuildSettings.asset
/[Uu]serSettings/
/.vs/
/.vscode/
*.sln
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.prefab
*.mat
*.fbx
*.obj
*.asset
